# Project 1

### By Sophia Cain

I will be working with Labour force participation rate and unemployment rate from the United Nations for this project. This data can be found at the link below:

https://data.un.org/

In [3]:
import pandas as pd

df_UN = pd.read_csv("UN_labour_data.csv")

df_UN

,T17,Labour force participation and unemployment,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Region/Country/Area,NaN,Year,Series,Value,Footnotes,Source
1,1,"Total, all countries or areas",2005,Labour force participation - Total,62.9,Estimate.,"International Labour Organization (ILO), Genev..."
2,1,"Total, all countries or areas",2005,Unemployment rate - Total,6.4,Estimate.,"International Labour Organization (ILO), Genev..."
3,1,"Total, all countries or areas",2005,Labour force participation - Male,76.1,Estimate.,"International Labour Organization (ILO), Genev..."
4,1,"Total, all countries or areas",2005,Unemployment rate - Male,6.2,Estimate.,"International Labour Organization (ILO), Genev..."
...,...,...,...,...,...,...,...
5482,97,European Union (EU),2024,Unemployment rate - Total,6.0,Estimate.,"International Labour Organization (ILO), Genev..."
5483,97,European Union (EU),2024,Labour force participation - Male,63.9,Estimate.,"International Labour Organization (ILO), Genev..."
5484,97,European Union (EU),2024,Unemployment rate - Male,5.7,Estimate.,"International Labour Organization (ILO), Genev..."
5485,97,European Union (EU),2024,Labour force participation - Female,51.8,Estimate.,"International Labour Organization (ILO), Genev..."
5486,97,European Union (EU),2024,Unemployment rate - Female,6.3,Estimate.,"International Labour Organization (ILO), Genev..."